*:focus-visible {
  outline: none;
  box-shadow: 0.075rem 0.075rem var(--color-focus),
    -0.075rem 0.075rem var(--color-focus), 0.075rem -0.075rem var(--color-focus),
    -0.075rem -0.075rem var(--color-focus);
}

:root {
  font-family: var(--font-text);
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--text-color);
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  --screen-width: 80rem;
  --max-width: 90rem;
}

.test {
  display: flex;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
  height: fit-content;
  border-radius: var(--card-border-radius);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon__large {
  width: 4rem;
  height: 4rem;
}

.icon__small {
  width: 1rem;
  height: 1rem;
}

.button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: var(--standart-transition);
  flex-shrink: 0;
  width: fit-content;
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus-visible {
  background-color: var(--secondary-hover-color);
}

.button:focus {
  box-shadow: var(--focus-shadow);
}

.button.disabled {
  pointer-events: none;
  color: var(--disabled-color);
  background-color: var(--secondary-color);
}

.button__small {
  padding: 0.375rem 0.75rem;
}

.button__large {
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 1.125rem 2rem;
}

.button__normal {
  padding: 0.5rem 1.25rem;
}

.button__navigation {
  border: none;
  background-color: #fff;
}

.button__navigation.disabled {
  background-color: #fff;
  color: var(--disabled-color);
}

.button__primary {
  border: none;
  background: var(--primary-color);
  color: var(--primary-text-color);
}

.button__primary:hover {
  background: var(--color-focus);
}

.button__primary:active {
  border: transparent;
  background: #0054b6;
}

.button__primary:focus {
  background: var(--primary-color);
}

.button__secondary {
  border: 0.125rem solid var(--secondary-color);
  background-color: #fff;
}

.button__secondary:hover {
  background-color: var(--secondary-hover-color);
}

.button__secondary:disabled {
  background: var(--secondary-color);
}

.button__secondary:focus {
  border-color: var(--color-focus);
}

.button__secondary.button__large {
  padding: 1rem 2rem;
}

.button__secondary.button__square-medium {
  line-height: 0;
  padding: 0.375rem;
}

.button__square-big {
  line-height: 0;
  padding: 1.125rem;
}

.button__square-medium {
  line-height: 0;
  padding: 0.5rem;
}

.details {
  display: block;
  width: 100%;
  box-shadow: 0 0.25rem 2.5rem 0 var(--box-shadow-color);
  border-radius: 0.625rem;
  background-color: #fff;
  transition: height 0.5s ease-out;
}

.details__summary {
  justify-content: space-between;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.details__summary::after {
  content: "";
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #1d36532b;
  transition: var(--standart-transition);
}

.details__summary::before {
  content: url("../images/icons/arrow.svg");
  line-height: 0.5rem;
  position: absolute;
  display: flex;
  top: calc(50% - 0.325rem);
  right: 0.8rem;
  transform: rotate(-90deg);
  transition: transform 0.3s ease-out;
}

.details__summary:focus {
  box-shadow: none;
}

.details:has(.details__summary:focus) {
  box-shadow: var(--focus-shadow);
}

.details[open] {
  padding: 1.375rem;
  border: 0.125rem solid var(--primary-color);
  animation: details-start-animation;
  animation-duration: 0.5s;
  overflow: hidden;
}

.details:not([open]) {
  animation: details-end-animation;
  animation-duration: 0.5s;
}

.details[open] .details__summary {
  margin-bottom: 1rem;
}

.details[open] .details__summary::before {
  transform: rotate(90deg);
}

.checkbox-label {
  display: flex;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  align-items: center;
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  width: 0.875rem;
  height: 0.9rem;
  margin: 0 0.3rem;
  border: 0.125rem solid var(--input-border-color);
  border-radius: 0.25rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: var(--color-transition);
}

.checkbox:checked + .checkbox-label::after {
  content: "";
  position: absolute;
  top: 46%;
  left: 0.55rem;
  width: 0.175rem;
  height: 0.35rem;
  border: 0.125rem solid var(--primary-text-color);
  border-radius: 0.1rem;
  border-width: 0 0.175rem 0.175rem 0;
  transform: translateY(-50%) rotate(45deg);
  transition: var(--color-transition);
}

.checkbox:checked + .checkbox-label::before {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.checkbox:checked:hover + .checkbox-label::before {
  background-color: var(--input-hover-color);
  border-color: var(--input-hover-color);
}

.checkbox:checked:active + .checkbox-label::before {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: var(--focus-shadow);
}

.checkbox:checked:active + .checkbox-label::after {
  border-color: var(--primary-color);
}

.checkbox:hover + .checkbox-label::before {
  background-color: var(--card-background-color);
}

.checkbox:checked:active + .checkbox-label::after {
  border-color: var(--primary-text-color);
}

.checkbox:active + .checkbox-label::before {
  border-color: var(--input-active-color);
  background-color: var(--input-active-color);
}

.checkbox:focus + .checkbox-label::before {
  border: 0.125rem solid transparent;
  box-shadow: var(--focus-shadow);
}

.checkbox:disabled + .checkbox-label::before,
.checkbox:checked:disabled + .checkbox-label::before {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.checkbox:checked:disabled + .checkbox-label::after {
  border-color: var(--disabled-color);
}

.checkbox.touched:invalid + .checkbox-label::before {
  box-shadow: var(--invalid-shadow);
}

.checkbox:invalid:hover + .checkbox-label::before {
  background-color: var(--card-background-color);
}

.checkbox:checked:invalid + .checkbox-label::before {
  background-color: var(--primary-color);
}

.checkbox:checked:invalid:hover + .checkbox-label::before {
  background-color: var(--color-focus);
}

.radio-label {
  display: flex;
  justify-content: start;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
}

.radio-label::before {
  content: "";
  display: block;
  width: 0.875rem;
  height: 0.875rem;
  margin: 0 0.3rem;
  border: 0.125rem solid var(--input-border-color);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  transition: var(--standart-transition);
}

.radio:checked + .radio-label::before {
  border: 0.375rem solid var(--input-border-color);
}

.radio:hover + .radio-label::before {
  background-color: var(--card-background-color);
}

.radio:checked:hover + .radio-label::before {
  background-color: var(--card-background-color);
}

.radio:active + .radio-label::before {
  border: 0.375rem solid var(--primary-color);
}

.radio:checked:focus + .radio-label::before {
  border: 0.375rem solid var(--color-focus);
}

.radio:focus + .radio-label::before {
  border: 0.125rem solid var(--fade-color);
}

.radio-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5.5%;
  width: 1rem;
  height: 1rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  border: 0.125rem solid var(--color-focus);
  z-index: -1;
  transition: filter 0.3s ease-out;
  opacity: 0;
}

.radio:focus + .radio-label::after {
  opacity: 1;
}

.radio:disabled + .radio-label::before {
  background-color: var(--card-background-color);
  border-color: var(--card-background-color);
}

.radio:checked:disabled + .radio-label::before {
  border-color: var(--input-border-color);
  background-color: var(--secondary-color);
}

.radio:invalid + .radio-label::before {
  border-color: var(--invalid-color);
}

.toggle__label {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  align-items: center;
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}

.toggle__box {
  display: block;
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  background-color: var(--disabled-color);
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.toggle__box::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 0.375rem);
  height: calc(100% + 0.375rem);
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  pointer-events: none;
  border-radius: 6.25rem;
}

.toggle__box::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  transition-property: transform, background-color;
  transition-duration: 0.2s;
}

.toggle__checkbox:checked + .toggle__box {
  background-color: var(--primary-color);
}
.toggle__checkbox:checked + .toggle__box::after {
  transform: translateX(calc(100% + 0.25rem));
}

.toggle__box:hover {
  background-color: var(--input-border-color);
}

.toggle__checkbox:checked + .toggle__box:hover,
.toggle__checkbox:checked + .toggle__box:active {
  background-color: var(--input-hover-color);
}

.toggle__checkbox:focus + .toggle__box::before {
  border: 0.125rem solid var(--input-hover-color);
  opacity: 1;
}

.toggle__checkbox + .toggle__box:active {
  background-color: var(--fade-color);
}

.toggle__checkbox + .toggle__box:active::after {
  background-color: #1d1c28;
}

.toggle__checkbox:checked + .toggle__box:active::after {
  background-color: #fff;
}

.toggle__checkbox:disabled + .toggle__box {
  background-color: var(--disabled-color);
  cursor: default;
  opacity: 0.5;
}

.toggle__checkbox:disabled + .toggle__box::after {
  background-color: var(--card-background-color);
}

.select {
  border: 0.1rem solid var(--secondary-color);
  width: fit-content;
  height: 1.375rem;
  cursor: pointer;
  line-height: 1.5rem;
  display: inline-block;
}

.select.disabled span:after {
  border-color: var(--disabled-color);
}

.nice-select span {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.nice-select span:after {
  content: "";
  display: inline-block;
  top: calc(50% - 0.25rem);
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
  transform: translate(-0.375rem, 0.25rem) rotate(45deg);
  transition: transform 0.3s ease-out;
}

.nice-select.open span:after {
  transform: translate(-0.375rem, 0.375rem) rotate(-135deg);
}

.nice-select .option {
  min-height: 2.5rem;
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

.select .list {
  width: calc(100% + 2.5rem);
  border-radius: 0;
  opacity: 0;
  padding: 0.25rem 0;
  margin-top: 0.75rem;
  box-shadow: 0 0 0.1rem 0 #091e424f, 0 0.2rem 0.3rem 0 #091e4233;
  display: block;
  position: relative;
  left: -1.125rem;
  background-color: #fff;
  pointer-events: none;
}

.contact-form__select + .select .list {
  margin-top: 1.75rem;
  left: -1.25rem;
}

.select .option {
  box-sizing: border-box;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  border-radius: 0;
}

.select .option:hover,
.select .option.selected:hover {
  background-color: var(--color-focus);
  color: #fff;
}

.link {
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  transition: var(--color-transition);
}

.link:hover {
  color: var(--color-focus);
}

.link:focus,
.link:active {
  color: var(--primary-color);
}

.link:focus,
.link:focus-visible {
  color: var(--primary-color);
  box-shadow: none;
}

*:focus-visible {
  outline: none;
  box-shadow: 0.075rem 0.075rem var(--color-focus),
    -0.075rem 0.075rem var(--color-focus), 0.075rem -0.075rem var(--color-focus),
    -0.075rem -0.075rem var(--color-focus);
}
.link.disabled {
  color: var(--disabled-color);
}

.list {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0rem;
  list-style-type: none;
}

.list__elements {
  padding: 0.075rem;
  margin: -0.075rem;
}

.list__column {
  flex-direction: column;
  gap: 1rem;
}

.heading__main-title {
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 3.875rem;
  font-family: var(--font-heading);
}

.heading__section {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: var(--section-title-color);
}

.heading__section-title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: var(--heading-letter-spacing);
}

.heading__article-title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-transform: capitalize;
}

.heading__card-title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-transform: capitalize;
}

.heading__form {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.highlite-text__span {
  color: var(--primary-color);
  white-space: nowrap;
}

.text__main {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--secondary-text-color);
}

.text__section {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #222222;
}

.container__section {
  margin: 0 auto;
  padding: 3.75rem 5rem;
  width: var(--screen-width);
  min-width: var(--screen-width);
}

.container__main {
  flex-grow: 2;
}

.container__catalog {
  padding: 0 5rem 3.75rem;
  gap: 1.375rem;
}

.label {
  padding: 0.5rem 1rem;
  color: var(--primary-text-color);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border-radius: 6.25rem;
  width: fit-content;
  height: fit-content;
  margin: 1rem;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  justify-self: end;
}

.label__new {
  background-color: #007772;
}

.label__sold-out {
  background-color: #fff;
  color: var(--fade-color);
}

.input {
  border-radius: 0.5rem;
  border: 0.075rem solid var(--secondary-color);
  font-size: 0.875rem;
  line-height: 1.125rem;
  min-width: calc(15rem - 2 * 0.75rem - 0.1rem);
  transition: var(--standart-transition);
}

.input::placeholder {
  color: var(--fade-color);
}

.input:hover {
  border: 0.075rem solid var(--color-focus);
  box-shadow: 0.075rem 0.075rem var(--color-focus),
    -0.075rem 0.075rem var(--color-focus), 0.075rem -0.075rem var(--color-focus),
    -0.075rem -0.075rem var(--color-focus);
}

.input:focus {
  border: 0.075rem solid var(--color-focus);
  box-shadow: var(--focus-shadow);
}

.contact-form__field .input.touched:invalid:not(:focus) {
  border-color: var(--invalid-color);
}

.contact-form__field:has(.input.touched:invalid)::after {
  content: "This field is required.";
  position: absolute;
  backface-visibility: hidden;
  top: 100%;
  left: 0;
  color: var(--invalid-color);
  font-size: 0.75rem;
  opacity: 0;
  transition: border 0.3s ease-out, box-shadow 0.3s ease-out,
    opacity 0.3s ease-out;
  text-transform: none;
}

.contact-form__field:has(.input.touched:invalid:not(:focus))::after {
  opacity: 1;
}

.contact-form__field:has(.input[required]:valid)::after {
  content: "Field validation is successful.";
  position: absolute;
  backface-visibility: hidden;
  top: 100%;
  left: 0;
  color: #008f5d;
  font-size: 0.75rem;
  opacity: 0;
  transition: border 0.3s ease-out, box-shadow 0.3s ease-out,
    opacity 0.3s ease-out;
  text-transform: none;
}

.contact-form__field:has(.input[required]:valid:focus)::after {
  opacity: 1;
}

.input__large {
  padding: 1.125rem 1.375rem;
}

.input__small {
  padding: 0.625rem 0.75rem;
}

.input__form {
  padding: 1.2rem 1.125rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.625rem 5rem;
  gap: 2rem;
  width: var(--screen-width);
  min-width: var(--screen-width);
  margin: 0 auto;
}

.header__title,
.header__logo {
  font-size: 0;
  line-height: 0;
  border-radius: 0;
}

.header__navigation {
  flex-grow: 2;
  height: fit-content;
}

.navigation__list {
  overflow: auto;
}

.header__assets-block {
  display: flex;
  overflow: auto;
}

.main {
  grid-template-columns: 9.5rem 1fr;
  justify-content: space-between;
  background-image: url("../images/intros/intro-platform.webp"),
    url("../images/icons/pen.svg"), url("../images/icons/ruler.svg"),
    url("../images/intros/intro-articles.webp"),
    url("../images/intros/intro-eventify.webp"),
    linear-gradient(to right, var(--background-color) 52%, #fff 86%);
  background-repeat: no-repeat;
  background-size: 17.5rem 26.375rem, 8.5rem 6.875rem, 7.875rem 8.375rem,
    18.25rem 10.25rem, 32.125rem 18.75rem, 100% 100%;
  background-position: calc((100% - var(--screen-width)) / 2 + 52.25rem) 3rem,
    calc((100% - var(--screen-width)) / 2 + 76.125rem) 3rem,
    calc((100% - var(--screen-width)) / 2 + 47.5rem) 28.625rem,
    calc((100% - var(--screen-width)) / 2 + 72.5rem) 6rem,
    calc((100% - var(--screen-width)) / 2 + 66.375rem) calc(100% - 2.875rem),
    0 0;
  min-width: var(--screen-width);
}

/* margin-left: calc((100% - var(--screen-width)) / 2); */

.main__main-information {
  gap: 2rem;
  position: relative;
  width: 1440px;
  box-sizing: border-box;
  padding: 7.5rem 53rem 7.5rem 5rem;
}

.main-information__highlite-text {
  letter-spacing: var(--heading-letter-spacing);
  text-wrap: balance;
}

.main-information__main-buttons {
  gap: 1.5rem;
}

.products {
  padding-top: 7.5rem;
}

.products__list {
  overflow: auto;
  gap: 2rem;
}

.products__list-item {
  gap: 1.25rem;
}

.list-item__icon-image {
  transition: var(--color-transition);
}

.products__link:active .list-item__icon-image {
  background-color: var(--primary-color);
}

.products__link:active svg {
  color: var(--pale-card-color);
}

.products__title {
  line-height: 1.75rem;
  font-weight: 500;
  text-align: center;
  font-size: 1.25rem;
}

.list-item__icon-image {
  width: 9.375rem;
  height: 9.375rem;
  place-self: center;
  color: var(--primary-color);
  padding: 2.3rem;
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
}

.categories {
  gap: 4rem;
  align-items: center;
}

.categories > * {
  width: 38rem;
}

.categories__list {
  gap: 1rem;
  justify-content: center;
  position: relative;
}

.categories__list::after {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  min-height: 3.75rem;
  background-image: linear-gradient(#fff, transparent);
}

.categories__list::before {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  min-height: 3.75rem;
  background-image: linear-gradient(transparent, #fff);
  z-index: 2;
}

.categories__categories-information {
  order: 2;
}

.categories-information__description {
  opacity: 0.7;
}

.categories-information__highlite-text {
  width: 60%;
}

.categories-information__button {
  margin-top: 1rem;
}

.categories__categories-cards {
  flex-wrap: nowrap;
  height: 28.75rem;
  gap: 1.25rem;
  overflow-x: auto;
  position: relative;
}

.categories__categories-cards:last-child::before {
  content: "";
  width: 14rem;
  min-height: 3.75rem;
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
}

.categories__categories-cards:first-child::after {
  content: "";
  width: 14rem;
  min-height: 3.75rem;
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
}

.categories-cards__categories-card {
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
  padding: 1.5rem;
  transition: var(--color-transition);
  gap: 0.5rem;
  width: 10.8rem;
}

.categories-card__description {
  color: var(--fade-color);
  padding: 0;
}

.categories-card__image {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
}

.categories-card__title {
  padding-top: 0.5rem;
}

.categories-cards__link:hover .categories-cards__categories-card {
  background-color: var(--primary-color);
  color: #f8f7ff;
}

.categories-cards__link:hover svg {
  color: var(--pale-card-color);
}

.categories-cards__link:hover .categories-card__description {
  color: #eff5fad1;
}

.trending {
  padding-bottom: 3.5rem;
}

.trending__trending-header {
  justify-content: space-between;
  align-items: end;
}

.trending-controller__buttons {
  gap: 0.75rem;
}

.trending-controller__button:last-of-type svg {
  transform: rotate(180deg);
}

.trending__trending-list {
  margin-top: 3rem;
  gap: 1rem;
  overflow-x: auto;
}

.trending-card__to-product {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  place-self: center;
  width: calc(68%);
  justify-content: center;
  opacity: 0;
  z-index: 2;
  transition: var(--filter-transition);
}

.trending-list__link:hover .trending-card__to-product {
  opacity: 1;
}

.trending-card__image-container {
  position: relative;
  display: grid;
  width: 19.063rem;
  height: 17rem;
  overflow: hidden;
  border-radius: var(--card-border-radius);
}

.trending-card__image-container::after {
  content: "";
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: var(--pale-document-color);
  transition: var(--filter-transition);
  z-index: 1;
}

.trending-list__link:hover .trending-card__image-container::after {
  opacity: 1;
}

.trending-card__trending-image {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  transform: translateX(2.7rem) scaleX(1.45);
}

.trending-card__trending-image[alt="real estate product"] {
  transform: translateX(5.25rem) scaleX(1.675);
}

.trending-card__label {
  padding: 1rem;
  margin: 0;
  line-height: 0;
  border-radius: 0 var(--card-border-radius);
  z-index: 1;
}

.trending-card__main-information {
  justify-content: space-between;
  align-items: center;
}

.trending-information__title {
  margin-bottom: 0.25rem;
}

.trending-information__price {
  font-weight: 500;
  color: var(--primary-color);
}

.trending-card__trending-information {
  gap: 0.25rem;
  padding-bottom: 0.25rem;
}

.trending-information__description {
  color: var(--fade-color);
}

.pricing-plan {
  align-items: center;
}

.pricing-plan__plan-list {
  margin-top: 2rem;
  gap: 1rem;
  height: 31.625rem;
  align-items: end;
}

.plan-list__plan-item {
  border-radius: var(--card-border-radius);
  box-shadow: 0 0.25rem 2.5rem 0 var(--box-shadow-color);
  padding: 2rem;
  width: 22rem;
}

.plan-list__plan-item.best {
  border: 0.125rem solid var(--primary-color);
  padding: 1.875rem;
  position: relative;
}

li:has(.plan-list__plan-item.best) {
  align-self: start;
}

.plan-item__label {
  position: absolute;
  right: -0.125rem;
  text-transform: uppercase;
  top: -0.125rem;
  padding: 0.43rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 0 var(--card-border-radius);
  color: #fff;
}

.plan-item__full-price {
  color: var(--fade-color);
}

.plan-item__price {
  color: var(--text-color);
}

.plan-item__plan-features {
  margin-top: 1rem;
  padding-top: 2.4rem;
  border-top: 0.07rem solid #1f324745;
}

.plan-features__feature::before {
  content: "";
  display: inline-block;
  width: 0.35rem;
  height: 0.8rem;
  border-bottom: 0.125rem solid var(--primary-color);
  border-right: 0.125rem solid var(--primary-color);
  transform: rotate(45deg);
  margin-right: 1rem;
  margin-top: 0.125rem;
  margin-left: 0.3rem;
}

.plan-item__subscribe {
  margin-top: 1.5rem;
  width: auto;
  justify-content: center;
}

.faq {
  gap: 2.5rem;
  justify-content: space-between;
  position: relative;
}

.faq::after {
  content: "";
  position: absolute;
  opacity: 10%;
  top: 18%;
  left: 15%;
  aspect-ratio: 1.38;
  width: 60rem;
  background-image: radial-gradient(
    var(--section-title-color),
    transparent 73%
  );
  z-index: -1;
}

.faq__faq-information {
  margin-top: 12.25rem;
}

.faq-information__cta-button.button__secondary {
  margin-top: 1rem;
  text-transform: capitalize;
  padding-left: 1.875rem;
}

.faq-questions__title {
  text-transform: none;
}

.faq-questions__details {
  width: 35.75rem;
  padding: 1.5rem;
}

.faq-questions__summary {
  display: flex;
}

.articles {
  padding-bottom: 3.625rem;
}

.articles__articles-header {
  justify-content: space-between;
  align-items: center;
}

.articles-header__see-all {
  word-spacing: 0.1rem;
}

.articles-header__arrow {
  transform: rotate(180deg);
}

.articles__articles-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  padding: 0.125rem;
  margin: -0.125rem;
  margin-top: 2.875rem;
}

.articles__articles-list li:first-child {
  grid-row: 1 / span 2;
}

.articles__link {
  display: flex;
  height: 100%;
}

.articles__link:hover .article__image-container {
  box-shadow: var(--focus-shadow);
}

.articles-list__article:first-of-type {
  gap: 0;
}

.article__image-container:has(img[alt="article binabox"]) {
  flex-grow: 2;
  max-height: 43.75rem;
}

.article__image[alt="article laurent"] {
  transform: translateY(-0.125rem) scaleY(1.4);
}

.article__image[alt="article lotus"] {
  transform: scaleY(1.625);
}

.article__image-container {
  position: relative;
  display: grid;
  overflow: hidden;
  border-radius: var(--card-border-radius);
  transition: var(--color-transition);
}

.article__big-image {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.article__article-information {
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.article-information__description {
  text-transform: uppercase;
  color: var(--fade-color);
}

.article__article-caption {
  margin: 0;
}

.article__article-image {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  height: 28.875rem;
}

.article-image__image {
  transform: translateY(2.25rem) scaleY(1.3);
}

.article-image__caption {
  margin-top: 0.625rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.article__text.last {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0.75rem;
}

.article__quote {
  gap: 1rem;
  color: var(--text-color);
  align-items: end;
}

.quote__icon {
  min-width: 4rem;
  padding-bottom: 0.5rem;
}

.related-articles {
  background-color: var(--background-color);
  box-sizing: border-box;
  min-width: var(--max-width);
  width: 100%;
  margin: 3.75rem 0 3.5rem 0;
  padding: 0rem 0rem 0.1rem 0rem;
}

.related-articles__articles-header {
  padding: 2.5rem 0 0 0;
  width: var(--screen-width);
  justify-content: space-between;
  align-items: end;
  margin-left: calc((100% - var(--screen-width)) / 2);
}

.related-articles__articles-viewer {
  margin-top: 2rem;
  gap: 1.55rem;
  margin-bottom: 2.5rem;
  overflow: auto;
  width: var(--screen-width);
  margin-left: calc((100% - var(--screen-width)) / 2);
}

.articles-viewer__related-article {
  position: relative;
  padding: 1.125rem;
  background-color: #fff;
  border: 0.125rem solid #fff;
  border-radius: var(--card-border-radius);
  gap: 2rem;
  transition: var(--standart-transition);
  box-shadow: 0 0.25rem 1.875rem 0 #1d395f0d;
}

.articles-viewer__related-article:hover {
  border: 0.125rem solid var(--primary-color);
}

.related-article__image-container {
  display: grid;
  overflow: hidden;
  border-radius: var(--card-border-radius);
}

.article__image {
  transform: scaleX(1.1);
}

.related-article__article-information {
  padding: 0 1rem;
  gap: 0.75rem;
}

.related-article__label {
  position: absolute;
  margin: 0;
  top: auto;
  right: auto;
  bottom: calc(25% - 0.5rem);
  left: calc(1.25rem + 1rem - 0.125rem);
}

.introduction {
  position: relative;
  background-image: url("../images/intros/heading-bottom.webp"),
    linear-gradient(-176deg, #ffffff 12%, #d5dee5 120%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 5rem, 100% 100%;
}

.introduction__title {
  display: block;
  padding: 0;
  margin: 0 auto;
}

.introduction__title strong {
  display: block;
  width: 40%;
  padding: 4rem 50% 6.25rem 0rem;
}

.introduction__highlite-text {
  width: 54%;
  letter-spacing: var(--heading-letter-spacing);
}

.filter-form__container {
  margin: 0;
  margin-top: 2.5rem;
  width: 13.625rem;
  padding: 0;
  border: none;
}

.filter-form__container:first-of-type {
  margin-top: 0;
}

.filter-form__list {
  margin-top: 1.5rem;
  gap: 0.75rem;
}

.filter-form__reset {
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
}

.slider {
  margin-top: 1.5rem;
  height: 2.625rem;
}

.catalog {
  flex-grow: 2;
  z-index: 1;
}

.catalog__viewer {
  margin-top: 2rem;
}

.viewer-header__options {
  justify-content: space-between;
  flex-wrap: wrap;
}

.options__select {
  min-width: 7.125rem;
  max-width: min-content;
}

.options__viewer-type {
  align-items: center;
}

.viewer-type__text {
  margin-right: 1rem;
  line-height: 100%;
}

.viewer-header__tags {
  margin-top: 1rem;
  flex-basis: 100%;
}

.tags__chip-list {
  overflow: auto;
}

.chip-list__chip-link {
  text-transform: capitalize;
  padding: 0.3rem 0.7rem;
  border-width: 0.1rem;
}

.viewer__catalog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  position: relative;
}

.viewer__catalog-cards::after {
  content: "";
  position: absolute;
  height: 3.25rem;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(#ffffff80, #fff);
  z-index: 2;
}

.viewer__more {
  margin: 0 auto;
  margin-top: 3rem;
}

.catalog-cards__list-item {
  position: relative;
}

.catalog-cards__link:hover .catolog-card__price {
  color: var(--primary-color);
}

.catalog-cards__link:has(.label__sold-out) {
  pointer-events: none;
}

.catalog-cards__link:has(.label__sold-out) .catalog-cards__catolog-card {
  opacity: 0.5;
}

.catalog-cards__list-item:has(.label__sold-out) .catolog-card__buttons {
  opacity: 0;
  pointer-events: none;
}

.catolog-card__image-container {
  position: relative;
  border-radius: 1.25rem;
  overflow: hidden;
  line-height: 0;
}

.catolog-card__image {
  transform: scaleX(1.2);
}

.catolog-card__label {
  left: 1rem;
  right: auto;
  position: absolute;
  margin: 0;
  top: 1rem;
}

.catolog-card__information {
  margin-top: 1.25rem;
}

.catolog-card__description {
  color: var(--secondary-text-color);
}

.catolog-card__price {
  line-height: 2.5rem;
  color: inherit;
  transition: var(--color-transition);
}

.catolog-card__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.catolog-card__cart-manager {
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}

.catolog-card__like {
  color: #2735448c;
  fill: transparent;
  transition: var(--color-transition), fill 0.3s ease-out;
}

.catolog-card__like.liked {
  fill: var(--primary-color);
  color: var(--primary-color);
}

.blog-introduction {
  padding: 4rem 5rem;
  gap: 1.5rem;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-width: var(--max-width);
}

.blog-introduction::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 37.75rem;
  position: absolute;
  background-image: linear-gradient(#f0f6fd, transparent);
  z-index: -1;
}

.blog-introduction__tag {
  position: static;
  width: fit-content;
  margin-left: calc((100% - var(--screen-width)) / 2);
}

.blog-introduction__title {
  margin-left: calc((100% - var(--screen-width)) / 2);
}

.blog {
  display: grid;
  grid-template-columns: 16.25rem 61.25rem;
  padding-top: 0;
  gap: 3rem 2.5rem;
}

.blog__image-container {
  grid-column: 1 / span 2;
  border-radius: var(--card-border-radius);
  overflow: hidden;
  line-height: 0;
}

.blog__image {
  transform: translateY(9.75rem) scaleY(1.74);
}

.blog__article-information {
  gap: 2.5rem;
}

.blog__article {
  gap: 2rem;
  color: var(--secondary-text-color);
}

.article-information__author {
  display: grid;
  grid-template-columns: 3.75rem 1fr;
  gap: 0 1rem;
}

.article-information__blog-categories,
.article-information__latest-articles {
  padding-top: 2.375rem;
  border-top: 0.125rem solid #0d0d15;
  text-transform: capitalize;
}

.author__image {
  border-radius: 50%;
  grid-row: 1 / span 2;
}

.author__name {
  align-self: self-end;
}

.author__birthday {
  opacity: 0.5;
}

.blog-categories__list {
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.latest-articles__list {
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.latest-articles__list hr {
  width: 100%;
  border-color: #2a354133;
  margin: 0;
}

.latest-articles__last-article:last-of-type {
  padding-top: 1.5rem;
  border-top: 0.1rem solid #22222226;
}

.blog-categories__blog-category {
  align-items: center;
  font-weight: 400;
}

.blog-categories__blog-category:has(a[href="#"]) {
  margin-left: 1rem;
  font-weight: 600;
}

.blog-categories__blog-category::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--primary-color);
  border-radius: var(--card-border-radius);
}

.blog-category__title {
  font-family: var(--font-text);
  font-weight: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: capitalize;
}

.last-article__link,
.blog-category__link {
  color: var(--text-color);
  transition: var(--color-transition);
}

.last-article__link:hover,
.blog-category__link:hover {
  color: var(--primary-color);
}

.last-article__link:focus-visible,
.blog-category__link:focus-visible {
  color: var(--primary-color);
  box-shadow: none;
}

.last-article__publish-time {
  margin-top: 0.75rem;
  color: var(--secondary-text-color);
}

.article__subtitle {
  color: var(--text-color);
  margin-bottom: 1rem;
}

.contacts {
  padding-top: 4rem;
  position: relative;
  gap: 2.5rem;
  width: 100%;
  box-sizing: border-box;
  min-width: var(--max-width);
}

.contacts::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55.625rem;
  background-image: linear-gradient(var(--background-color), #fff);
  z-index: -1;
}

.contacts__contact-form {
  padding: 2rem;
  border-radius: var(--card-border-radius);
  background-color: #fff;
  flex-grow: 2;
  box-shadow: 0 0.25rem 2.5rem 0 var(--box-shadow-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  align-self: flex-end;
  gap: 1.4rem;
}

.contact-form__textarea {
  height: 8.75rem;
  resize: vertical;
  min-height: 8.75rem;
  max-height: 10rem;
}

.contact-form__finish-container {
  display: grid;
  grid-template-columns: 1fr 12rem;
  gap: 0.375rem 2rem;
}

.finish-container__field .checkbox-label {
  text-transform: none;
  align-self: self-end;
}

.finish-container__field:last-of-type {
  align-self: self-start;
}

.contact-form__submit {
  grid-row: 1 / span 2;
  grid-column-start: 2;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.contacts__about-us {
  width: 38.625rem;
  gap: 2rem;
  margin-left: calc((100% - var(--screen-width)) / 2);
}

.about-us__map {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  height: 19.625rem;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.map__address-info {
  position: absolute;
  display: grid;
  grid-template-columns: 1.5rem 17.25rem;
  gap: 0 1rem;
  bottom: 1rem;
  right: 1rem;
  background-color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 2.5rem 0 var(--box-shadow-color);
  transition: box-shadow 0.3s ease-out;
}

.map__address-info:hover,
.map__address-info:focus {
  box-shadow: var(--focus-shadow);
}

.address-info__image {
  grid-row: 1 / span 2;
  align-self: center;
}

.address__address {
  color: var(--secondary-text-color);
}

.address__name-shop {
  font-weight: 700;
}

.about-us__contacts {
  gap: 0.5rem;
}

.contacts__contact-form {
  margin-right: calc((100% - var(--screen-width)) / 2);
}

.contacts__contact {
  font-weight: 600;
  align-items: center;
  transition: var(--color-transition);
  width: fit-content;
}

.contacts__contact:hover {
  color: var(--primary-color);
}

.about-us__to-shop {
  padding: 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.contact-form__field {
  gap: 0.375rem;
  position: relative;
}

.contact-form__select {
  width: calc(100% - 2.375rem);
  padding: 1.25rem 1.125rem;
  font-weight: 400;
  margin-top: -1rem;
}

.footer {
  margin-top: 3.75rem;
  padding: 4rem 5rem 0;
  align-items: center;
  min-width: var(--screen-width);
}

.footer__summary {
  gap: 4rem;
  width: var(--screen-width);
  min-width: var(--screen-width);
}

.footer__cta {
  margin-top: 3.375rem;
  justify-content: space-between;
  align-items: center;
  width: var(--screen-width);
  min-width: var(--screen-width);
}

.footer__documents {
  margin-top: 7.5rem;
  background-color: var(--text-color);
  padding: 1.5rem 5rem;
  color: var(--pale-document-color);
  justify-content: space-between;
  width: 100%;
  min-width: var(--screen-width);
}

.footer__summary::before {
  content: "";
  flex-grow: 2;
  order: 0;
}

.summary__information {
  width: 20rem;
  order: -1;
}

.information__link {
  line-height: 0;
  font-size: 0;
  border-radius: 0;
}

.information__logo {
  transform: scaleX(1.15);
}

.summary-lists__list {
  margin-top: 1.125rem;
  gap: 0.5rem;
}

.list-item__link {
  color: var(--fade-color);
  padding: 0;
  font-weight: 400;
  display: inline-block;
}

.list-item__document-link {
  color: var(--pale-document-color);
}

.cta__cta-buttons {
  overflow: auto;
}

.cta__newsletter {
  width: 40.375rem;
}

.newsletter__label {
  width: 13.5rem;
  margin-right: 0.5rem;
  text-transform: none;
  flex-grow: 2;
}

.newsletter__input {
  width: 12.25rem;
  min-width: 10rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.newsletter__button {
  padding: 1.125rem 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.document-list__list-item:not(.document-list__list-item:last-child):after {
  content: "|";
  display: inline-block;
  margin-left: 0.375rem;
}

.documents__document-list {
  margin-left: calc((100% - var(--screen-width)) / 2);
  overflow: auto;
}

.documents__copyright {
  margin-right: calc((100% - var(--screen-width)) / 2);
}

.irs {
  height: 2.625rem;
}

.irs--flat .irs-line {
  background-color: var(--secondary-color);
  height: 0.25rem;
  border-radius: 0.25rem;
  top: 0.375rem;
}

.irs--flat .irs-bar {
  background-color: var(--primary-color);
  height: 0.25rem;
  border-radius: 0.25rem;
  top: 0.375rem;
}

.irs--flat .irs-handle {
  top: 0;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: auto;
  bottom: 0;
  background-color: transparent;
  color: #222222;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--font-text);
  padding: 0rem 0;
}

.irs--flat .irs-max {
  padding-right: 0.25rem;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}
