*:focus-visible {
  outline: none;
  box-shadow: 0.075rem 0.075rem var(--color-focus),
    -0.075rem 0.075rem var(--color-focus), 0.075rem -0.075rem var(--color-focus),
    -0.075rem -0.075rem var(--color-focus);
}

:root {
  font-family: var(--font-text);
  font-weight: 400;
  color: #0d0d15;
  margin: 0 auto;
  max-width: 1440px;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
  height: fit-content;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.list {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-x: hidden;
}

.list__column {
  flex-direction: column;
  gap: 1rem;
}

.heading__first {
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 3.875rem;
  font-family: var(--font-heading);
}

.heading__subhead {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.heading__third {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.highlite-text__span {
  color: var(--primary-color);
}

.container__section {
  margin: 0 auto;
  padding: 3.75rem 5rem;
}

.button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: var(--standart-transition);
  flex-shrink: 0;
}

.button:hover,
.button:active {
  background-color: #294d7517;
}

.button:focus {
  box-shadow: 0.125rem 0.125rem var(--color-focus),
    -0.125rem 0.125rem var(--color-focus), 0.125rem -0.125rem var(--color-focus),
    -0.125rem -0.125rem var(--color-focus);
}

.button.disabled {
  pointer-events: none;
  color: #22344966;
  background-color: #1d36532b;
}

.button__small {
  padding: 0.375rem 0.75rem;
}

.button__large {
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 1.125rem 2rem;
}

.button__navigation {
  border: none;
  background-color: #fff;
}

.button__navigation.disabled {
  background-color: #fff;
  color: #22344966;
}

.button__primary {
  border: none;
  background: var(--primary-color);
  color: var(--primary-text-color);
}

.button__primary:hover {
  background: var(--color-focus);
}

.button__primary:active {
  border: transparent;
  background: #0054b6;
}

.button__square-medium {
  line-height: 0;
  padding: 0.5rem;
}

.input[type="text"] {
  border-radius: 0.5rem;
  border: 0.075rem solid #1d36532b;
  font-size: 0.875rem;
  line-height: 1.125rem;
  min-width: calc(15rem - 2 * 0.75rem - 0.1rem);
  transition: var(--standart-transition);
}

.input[type="text"]::placeholder {
  color: #2a3541b2;
}

.input[type="text"]:hover {
  border: 0.075rem solid var(--color-focus);
  box-shadow: 0.075rem 0.075rem var(--color-focus),
    -0.075rem 0.075rem var(--color-focus), 0.075rem -0.075rem var(--color-focus),
    -0.075rem -0.075rem var(--color-focus);
}

.input[type="text"]:focus {
  border: 0.075rem solid var(--color-focus);
  box-shadow: 0.125rem 0.125rem var(--color-focus),
    -0.125rem 0.125rem var(--color-focus), 0.125rem -0.125rem var(--color-focus),
    -0.125rem -0.125rem var(--color-focus);
}

.input__small {
  padding: 0.625rem 0.75rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.625rem 5rem;
  gap: 2rem;
}

.header__navigation {
  flex-grow: 2;
  height: fit-content;
}

.header__assets-block {
  display: flex;
}

.main {
  display: flex;
  grid-template-columns: 9.5rem 1fr;
  max-width: 100%;
  justify-content: space-between;
  padding: 7.5rem 52.5rem 7.5rem 5rem;
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  width: var(--screen-width);
  left: calc((100% - (var(--screen-width))) / 2);
  top: 0;
  height: 100%;
  z-index: -2;
  background: linear-gradient(to right, var(--background-color) 52%, #fff 86%);
}

.main::before {
  content: "";
  position: absolute;
  width: 39rem;
  top: calc((100% - 34rem) / 2);
  right: 2.5rem;
  height: 34rem;
  z-index: -1;
  background-image: url("../images/intros/intro-platform.webp"),
    url("../images/icons/pen.svg"), url("../images/icons/ruler.svg"),
    url("../images/intros/intro-articles.webp"),
    url("../images/intros/intro-eventify.webp");
  background-repeat: no-repeat;
  background-size: 17.5rem 26.375rem, 8.5rem 6.875rem, 7.875rem 8.375rem,
    18.25rem 10.25rem, 32.125rem 18.75rem;
  background-position: 0 0, 28.25rem 0rem, 0rem 25.625rem, 19.75rem 3rem,
    bottom right;
}

.main__main-information {
  gap: 2rem;
}

.main-information__highlite-text {
  letter-spacing: var(--heading-letter-spacing);
  text-wrap: balance;
}

.main-information__description {
  text-wrap: balance;
}

.main-information__main-buttons {
  gap: 1.5rem;
}

.products {
  padding-top: 7.5rem;
}

.products__list {
  justify-content: space-between;
  overflow: auto;
}

.products__list-item {
  gap: 1.25rem;
}

.products__link .list-item__image,
.products__link svg {
  transition: var(--color-transition);
}

.products__link:active .list-item__image {
  background-color: var(--primary-color);
}

.products__link:active svg {
  color: #e0f2ff;
}

.products__title {
  line-height: 1.75rem;
  font-weight: 500;
  text-align: center;
}

.list-item__image {
  width: 14rem;
  height: 14rem;
  background-color: var(--card-background-color);
  border-radius: 1.25rem;
  display: grid;
}

.list-item__image svg {
  width: 9.375rem;
  height: 9.375rem;
  place-self: center;
  color: var(--primary-color);
}

@media (max-width: 1350px) {
  .main {
    padding: 8rem 40% 8rem 5rem;
  }
}
